version: "3.1"

services:
 keycloak-db:
   image: postgres:17
   command:
     ["postgres", "-c", "log_statement=all", "-c", "log_destination=stderr"]
   environment:
     POSTGRES_DB: keycloak
     POSTGRES_USER: keycloak
     POSTGRES_PASSWORD: keycloak
   ports:
     - "5432:5432"
   volumes:
     - keycloak-db:/var/lib/postgresql/data
   networks:
     - app-net

 keycloak:
   image: quay.io/keycloak/keycloak:26.1.0
   environment:
     KC_DB: postgres
     KC_DB_URL_HOST: keycloak-db
     KC_DB_USERNAME: keycloak
     KC_DB_PASSWORD: keycloak
     KC_DB_URL_PORT: 5432

     KC_BOOTSTRAP_ADMIN_USERNAME: admin
     KC_BOOTSTRAP_ADMIN_PASSWORD: admin
   command: ["start-dev", "--import-realm"]
   volumes:
     - ./keycloak/realm-export.json:/opt/keycloak/data/import/realm-export.json
   ports:
     - "18080:8080"
   depends_on:
     - keycloak-db
   restart: unless-stopped
   networks:
     - app-net

 backend:
   build:
    context: ./backend
    dockerfile: Dockerfile
   depends_on:
    - keycloak
   networks:
    - app-net
   ports:
    - "9000:9000"

 frontend:
   build:
    context: ./frontend
    dockerfile: Dockerfile
   depends_on:
    - backend
   networks:
    - app-net
   ports:
    - "3000:80"

volumes:
 keycloak-db:

networks:
  app-net: