apiVersion: v1
kind: Secret
metadata:
  name: keycloak-secret
type: Opaque
stringData:
  KEYCLOAK_ADMIN: {{ .Values.keycloak.admin.username }}
  KEYCLOAK_ADMIN_PASSWORD: {{ .Values.keycloak.admin.password }}
