/* DropDown */

.dropdown {
  position: relative;
  user-select: none;
}

/* DropDown Button */

.dropdown-btn {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
  pointer-events: auto;
}

.toggle-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  pointer-events: none;
}

/* DropDown Content */

.dropdown-content {
  position: absolute;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-top: 0.5rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  max-height: 40vh;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  transform: translateY(-5%);
  transition: transform 150ms ease-in-out, opacity 100ms ease-in-out;
  opacity: 0;
  pointer-events: none;
  z-index: 100;
}

.dropdown-content::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.content-open {
  transform: translateY(0);
  opacity: 1;
  pointer-events: all;
}

/* Drop down items */

.dropdown-item {
  padding: 0.5rem;
  margin: 0.1rem;
  width: 100%;
  border-radius: 0.5rem;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: rgb(240 249 255);
}

/* Dropdown icons */

.icon-added:not(.toggle-icon), .icon-deleted:not(.toggle-icon), .icon-updated:not(.toggle-icon) { 
  margin-right: 10px;
}

.icon-updated {
  color: #ff7f11;
}
.icon-deleted {
  color: #b22222;
}
.icon-added {
  color: #379683;
}

.header-added .dropdown-content, .header-added .dropdown-btn {
  border: 2px solid #22543d;
}

.header-deleted .dropdown-content, .header-deleted .dropdown-btn {
  border: 2px solid #8b0000;
}

.header-updated .dropdown-content, .header-updated .dropdown-btn {
  border: 2px solid #cc5500;
}